/*@import 'https://fonts.googleapis.com/css?family=Mr+Dafoe';*/
@import 'https://fonts.googleapis.com/css?family=Petit+Formal+Script';

html, body {
  user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  background: url(../images/wood_bg.jpg) center top;
}

  h1 {
    margin: 30px;
    color: #fff;
    /*font-family: 'Mr Dafoe', cursive;*/
    font-family: 'Petit Formal Script', cursive;    
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
  }

  footer {
    margin: 40px 0;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-family: 'Petit Formal Script', cursive;    
  }
  
  .keyboard-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .keyboard {
    display: flex;
  }

    .key-item {
      max-width: 50px;
      min-width: 50px;
      height: 200px;
      border: 1px solid rgba(0,0,0,.2);
      line-height: 350px;
      text-align: center;
      background: #fff;
      border-radius: 0 0 5px 5px;
      color: #eee;
    }

    .key-item.active {
      background: #f0f0f0;
    }


    .key-item:nth-child(12n+2),
    .key-item:nth-child(12n+4),
    .key-item:nth-child(12n+7),
    .key-item:nth-child(12n+9),
    .key-item:nth-child(12n+11) {
      position: relative;
      max-width: 35px;
      min-width: 35px;
      height: 100px;
      margin-left: -19px;
      margin-right: -18px;
      background: #000;
      line-height: 50px;
      color: #333;
    }

    .key-item:nth-child(12n+2).active,
    .key-item:nth-child(12n+4).active,
    .key-item:nth-child(12n+7).active,
    .key-item:nth-child(12n+9).active,
    .key-item:nth-child(12n+11).active {
      background: #222;
    }

    .key-item:nth-child(49) {
      color: #f00;
    }


.effect-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}

  .effect-container > div {
    max-width: 33%;
    min-width: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'Petit Formal Script', cursive;
  }

    .effect-container .control {
      margin-top: 10px;
    }
    
      .effect-container select {
        width: 100%;
      }
